.file_or_folder_name {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	font-size: 12px;
	margin: 5px;
	overflow-wrap: anywhere;
}

.file_or_folder_name:hover {
	background: #25252627;
}

.children_container {
	padding-left: 20px;
}

.file_name_text {
	word-break: break-word;
}