.popup_container {
    height: 100%;
    width: 100%;
    background-color: #00000014;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted black;
    height: 500px;
    width: 700px;
    border-radius: 15px;
    box-shadow: 10px 10px 50px black;
}

.top_div {
    flex: 1;
    height: 550px;
    width: inherit;
    overflow-y: scroll;
    padding: 10px;
}

.bottom_div {
    border: 1px dotted black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 115px;
    width: inherit;
    padding: 10px;
}

.currentDir {
    font-size: 12px;
    font-weight: 100;
}

#file_path {
    width: 450px;
    background-color: transparent;
    border: 1px dotted black;
    font-size: 13px;
    font-weight: 100;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    font-family: "Lucida Console", "Courier New", monospace;
}

.select_tag {
    background-color: transparent;
    padding: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
    outline: none;
    border: 1px dotted black;
    border-radius: 5px;
}

.select_btn,
.cancel_btn {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 12px;
    width: 70px;
    background-color: transparent;
    padding: 6px;
    border: 1px dotted black;
    border-radius: 4px;
    outline: none;
    font-weight: 100;
    cursor: pointer;
}

.input_select_tag_div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.popup_btns_div {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.file_list_tag {
    list-style: none;
    margin-top: 10px;
    text-align: center;
    word-break: break-word;
}

.popup_grid {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.popup_folder_files_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: 1px dotted #000000;
    border-radius: 10px;
    cursor: pointer;
}

.popup_folder_files_div:hover {
    background: #000000c9;
    color: #fff;
    transition: all .15s ease;
}

.popup_no_folder_files_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup_error {
    color: red;
    font-size: 13px;
}